<div class="container home">
    <h1>Bienvenido/a a la app</h1>
    <p>Para continuar, iniciá sesión o registrate.</p>
    <button onclick="window.location.href='/login'">
        Iniciar sesión
    </button>

    <button onclick="window.location.href='/register'">
        Registrarse
    </button>
    </div>
</div>